{% extends 'base.html.twig' %}

{% block title %}Hello InterventionController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Bienvenue sur le site de gestion de matériels, d'interventions et de véhicules : le projet BICE !</h1>
        <table class="table table-striped">
            <tr>
                <th>Nom</th>
                <th>Superficie</th>
                <th>Date d'ouverture</th>
                <th>Date de fermeture</th>
                <th></th>
            </tr>
        </table>
        <h2>Ajouter une intervention</h2>
    </div>
{% endblock %}
